h1{
    color:rgb(155,134,78);
}
p{
    color: aqua;
    font-size: 25px;
    font-family: "Times New Roman";
    font-weight: 400;
    text-align: justify;/* left right center justify*/
    text-decoration: none;/* underline line-through overline */
    text-transform: none;/* uppercase lowercase capitalize */
    font-style: italic;
    line-height: 1.5;
    background-color: white;
    width: 800px;
    float: left;
    margin: 15px;
}