*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    min-height: 40px;
    text-align: center;

}
article{
    float: left;
    width: 25%;
    min-height: 400px;
}
aside{
    width: 75%;
    float: right;
}
footer{
    
}
