*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #07e09f;
    font-size: 15px;
    font-family: "Times New Roman";
    line-height: 1.5;
    background-color: aliceblue;
    font-weight: 400;
    text-align: left;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
section{
    float: left;
    width: 100%;
}
container{
    float: none;
    width: 1200;
    margin: 0 auto;
}